body {
  margin: 0px;
  padding: 0px;
  background: #FFFFFF; 
}

body, div {
  font-family: Frutiger, 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;   
}

#map {
  height: 100%;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1800px;
    max-width: 95%;
    background-color: #FFFFFF;        
}

.logo {
    margin-top: 10px;
    font-size: 40px;
    text-align: right;
}

.content-row {
    padding: 2px 0px 2px 0px;
}

.content-key {
    font-weight: 700;
}

.sup { 
    position: relative; 
    top: -0.8ex; 
    font-size: 75%; 
}

.empty-row {
    padding: 24px 0px 2px 0px;
}

.content-table-header-sm {
    font-size: 10px;
}

.content-row-slim {
    padding: 0px 0px 0px 0px;
}

.right-align {
    float: right;
}