body {
  margin: 0px;
  padding: 0px;
  background: #FFFFFF; 
}

body, div {
  font-family: Frutiger, 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;   
}

#map {
  height: 100%;
}

#map-av-column {
    min-height: 600px;
    max-height: calc(100vh - 280px);
}

#map-av {
    height: 100%;    
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1800px;
    max-width: 95%;
    background-color: #FFFFFF;        
}

.logo {
    margin-top: 10px;
    font-size: 40px;
    text-align: right;
}

#suggestbox {
    padding-top: 40px;
    padding-bottom: 30px;
}

.field-group input, .field-group textarea {
    /*font-family: 'Fira Sans', sans-serif !important;*/
    font-family: Frutiger, 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;   
    font-size: 16px;   
    font-weight: 300;     
}

.field-group .field-label {
    font-size: 12px;
    font-weight: 300;   
}

.dropdown-menu>li>a {
    font-weight: 300;
} 

.content-row {
    padding: 2px 0px 2px 0px;
}

.content-key {
    font-weight: 700;
}

.sup { 
    position: relative; 
    top: -0.8ex; 
    font-size: 75%; 
}

.empty-row {
    padding: 40px 0px 2px 0px;
}

.empty-row-20 {
    padding: 20px 0px 2px 0px;
}

.empty-row-10 {
    padding: 10px 0px 2px 0px;
}

.empty-row-10 {
    padding: 5px 0px 2px 0px;
}

.content-table-header-sm {
    font-size: 10px;
}

.content-row-slim {
    padding: 0px 0px 0px 0px;
}

.right-align {
    display: inline-block;
    text-align: right;
    width: 100%;
}

.default-link {
    overflow: hidden;
    text-overflow: ellipsis;
    color: #ef5350; 
}

a.default-link:hover {
    color: #ef5350;
    text-decoration: underline !important;
}  

a.default-link:visited {
    color: #ef5350; 
    text-decoration: underline !important;
}  
